*{margin:0;padding:0;font-family:'Microsoft YaHei';}
A{color:black;text-decoration: none;}
LI{list-style-type: none;}
IMG{border:none;}
BODY{background-color: #afdafa;}
.head{height:144px;}
.top{margin:0 auto;width:85%;height:90px;background: url('../topbg.png') no-repeat top center;}
@media screen and (max-width: 1030px){.top{width: 93%;}}.logo{padding:18px 0;}
.logo img{height:55px;}
.nav{width:100%;height:47px;background: url('../navbg.jpg') repeat-x;}
.navlist{margin:0 auto;width:980px;overflow:hidden;}
.navcell{margin:0 1px;float:left;}
.navcell a{display:block;width:100px;height:47px;text-align: center;line-height: 47px;color:white;}
.navcell:hover{background-color: #0a61a4;}
.navshadow{height:7px;background-color: #02467b;}
.wrap{margin:0 auto;width:980px;padding-top: 10px;background-color: white;overflow:hidden;}
.listwarp{margin:0 auto;width:980px;padding-top: 10px;background-color: white;overflow: hidden;}
.topbanner{margin:0 auto 8px auto;width:960px;height:220px;background: url('../topbanner1.jpg') no-repeat top center;-webkit-box-shadow: 3px 3px 2px gray;-moz-box-shadow: 3px 3px 2px gray;box-shadow: 3px 3px 2px gray;}
.box{border:1px solid #e2dfda;width:230px;height:230px;float:left;margin-left: 10px !important;*margin-left: 8px;margin-top:10px;overflow: hidden;word-break: break-all;}
.boxhead{margin:1px;height:31px;background:url('../boxhead.png') no-repeat top center;}
.boxtitle{line-height: 31px;color:white;background:url('../titlesymbol.png') no-repeat left;margin-left: 10px;padding-left: 23px;font-size: 0.9em;*float:left;}
.boxmore{*width:35px;*height:10px;*margin-top: 10px;margin-right: 9px;line-height: 30px;float:right;}
.boxcon{height:170px;*padding: 5px 10px 10px 10px !important;padding: 5px 10px 10px 13px;line-height:26px;font-size: 0.9em;text-indent: 2em;overflow:hidden;}
.boxtext{width:295px;float:left;}
.boximg{margin-left:20px;width:125px;float:left;text-indent: 0;}
.boximg img{width:123px;height:172px;}
@media screen and (max-width: 980px){.boximg{margin-left:5px;width:100px;}}.boxlist{line-height:30px;text-indent: 0;color:#1181d8;}
.boxlist li{list-style-position: inside;list-style-type: disc !important;font-size: 0.9em;width:210px;*width:190px !important;*width:180px;height:30px;white-space:nowrap;overflow: hidden;text-overflow:ellipsis;border-bottom: 1px dotted silver;}
.box2list li{list-style-type: none !important;_list-style-type:disc;width:440px;*width:420px !important;position:relative;}
.box2list img{_display:none;margin-right: 10px;}
.box2list a{width: 347px;overflow: hidden;display: inline-block;text-overflow: ellipsis;}
.litime{font-size: 0.9em;color:gray;position:absolute;right:0;}
.iconbox{border:1px dashed #e2dfda;}
.iconli{margin: 7px 0 0 4px;}
.middlebox{width:470px;}
.boxhead2{background:url('../boxhead_m.png') no-repeat top center;}
.longbox{width:960px !important;*width:950px;}
.boxhead3{background:url('../boxhead_l.png') no-repeat top center;}
.marquee{margin-top:15px;margin-bottom:5px;margin-left: 2px;color:red;float:left;box-sizing:border-box;}
#outer{height:172px;width:953px;position:relative;overflow:hidden;}
#left{width:40px;display:block;float:left;height:162px;position:absolute;left:10px;z-index:2;opacity:0.05;filter:alpha(opacity=5);overflow:hidden;}
#right{width:40px;display:block;float:left;height:162px;position:absolute;left:903px;z-index:2;overflow:hidden;opacity:0.05;filter:alpha(opacity=5);}
#demo{overflow: hidden;width:933px;height:162px;float:left;margin:0 10px;position:absolute;z-index:0;}
.listname{height:162px;display:block;text-align:center;padding:0 3px;overflow:hidden;}
.listimage{width:162px;height:160px;}
.imgtitle{width: 162px;background-color\0:black;background-color: rgba(25,25,25,0.5);float: left;margin-top: 137px;*background-color:black;color: white !important;}
.bottom{margin: 0 auto;padding: 25px 0;width:980px;background:url('../bottombg.jpg') repeat-x;background-color: #0D7FD7;}
.bottom p{color:white;font-size: 0.8em;text-align:center;}
.frdbox{
	overflow: hidden;width: 880px;margin: 5px auto;color: #EEE;font-size: 0.9em;
}
.frdlink{
	float:left;height: 30px;line-height: 13px;
}

.fl{padding-left: 10px;}
.frdlink a{color: white;border-right: 2px dotted #AAA;
line-height: 13px;
display: block;
padding: 0 10px;
}
.frdlink:nth-last-child(1) a{border:none;}
.catenavi{width:980px;height:34px;line-height: 34px;background: url('../cnavbg.jpg') repeat-x;margin-top: -10px;font-size: 0.9em;}
.curposi{margin-left: 15px;}
.curposi label{font-weight: bold;}
.list{width:980px;margin-top: 28px;}
.catetreebox{background:url('../listborder.jpg') repeat-y right;display: table-cell;*float:left;width:170px;border-top: 1px solid silver;border-left: 1px solid silver;border-bottom: 1px solid silver;}
.listbox{display: table-cell;*float:left;width:800px;border-top: 1px solid silver;border-right: 1px solid silver;border-bottom: 1px solid silver;}
.listhead{width:800px;height:33px;background:url('../listheadbg.jpg') no-repeat top center;}
.artcate{color:#eee;font-size: 1.2em;*color:white;vertical-align: super;*vertical-align: baseline;line-height: 1.5;*line-height: 32px;padding-left: 25px;}
.catetitle{display:block;margin:0 auto;width:140px;height:40px;line-height: 40px;font-size: 1.2em;text-align:center;border-bottom: 1px dotted gray;}
.ctreeul{padding-bottom: 40px;}
.ctreelist{display:block;width:170px;}
.ctreea{display:block;margin:0 auto;width:140px;height:40px;_height:30px;_padding-top:10px;line-height: 40px;border-bottom: 1px dotted gray;overflow: hidden; text-overflow: ellipsis;}
.treeText{width: 100px; margin-left:4px;}
.treeImg{margin-left:10px;}
.sublist li{text-align: center;display:block;margin:0 auto;overflow: hidden;text-overflow:ellipsis;}
.sublist a{margin-left: 5px;margin-right:5px;}
.sublitext{display:block;}
.ctreelist img{vertical-align:middle;margin-right: 5px;}
.showul{margin-top: 17px;color:purple;}
.showlist{list-style-type: disc; list-style-position: 10px 10px;*list-style:none;margin:10px auto;width:720px;height:50px;*height:48px;line-height: 48px;*line-height: 28px;border-bottom:1px dotted gray;}
.showtitle{*float:left;width:540px;white-space:nowrap;overflow: hidden;text-overflow:ellipsis;}
.listtime{height:30px;font-size:0.9em;float:right;color:gray;}
.currdisp{background: url('../currcate.jpg') no-repeat right;}
.paging{_margin-top:10px;margin-bottom:10px;padding: 10px 0;line-height: 30px;text-align: center;}
.current{margin:0 2px 0 5px;}
.prev{margin-right:5px;}
.next{margin-left:5px;}
.maintextbox{margin:0 auto;width:780px;}
.arttitle{vertical-align: middle;line-height:55px;text-align: center;margin: 25px auto 10px auto;width: 650px;}
.artinfo{color:gray;margin:0 auto;height:30px;width:680px;border-bottom: 1px dotted gray;}
.authorinfo{color:gray;width:49%;text-align: center;line-height:32px;display: inline-block;*display:inline;*zoom:1;}
.timeinfo{width:49%;text-align: center;display: inline-block;*display:inline;*zoom:1;}
.maintext{text-indent: 2em;margin:25px auto;width:650px;}
.maintext img{max-width: 600px; max-height:450px; _width:500px;display: block;margin: 0 auto;border-radius: 10px; -webkit-box-shadow:#666 0 0 10px; -moz-box-shadow:#666 0 0 10px; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease;}
.maintext img:hover{position:relative; max-width: 650px; max-height:500px;}
.maintext p{margin:10px 0;}
.maintext a{color:blue; text-decoration: underline;}
.maintext a:visited{color:purple;}
.conswf{text-indent: 0;margin:0;}
.background{width:500px;margin:180px auto 0 auto;}
.noticebox{width:564px;height:375px;padding-top: 1px;background:url('../error.jpg') no-repeat top center;}
.noticetext{text-align: center;width: 326px;margin: 80px 45px 35px auto;}
.errmsg{font-size:1.3em;color:white;font-weight: bold;}
.jump{font-size:0.9em;color:white;}
.jump a{color:#50F8EC;}
.errbot{color: silver;text-align: center;font-size: 0.7em;}
.ke-insertfile{display: block;background:url('../attach.jpg') no-repeat left;text-indent: 0;padding-left: 25px;}
.itartbox{float:left;box-sizing:border-box;margin:10px 0 15px 15px;padding:15px 0px;width:247px;_width:240px;height:360px;*height:320px;border:1px solid silver;border-radius: 10px;}
.preview_img{margin:0px auto 5px auto;width:215px;height:150px;overflow: hidden;border-radius:15px;}
.preview_img img{_width:215px;width:215px;min-height: 150px;-webkit-box-shadow:#666 0 0 10px;-moz-box-shadow:#666 0 0 10px}
.preview_desc{overflow:hidden;margin:0 auto;width:200px;height:160px;height/*\**/:152px\9;_height:157px;}
.preview_desc span:nth-child(1){display:block;overflow:hidden;margin:1px 0;max-height:55px;font-size:1.2em;}
.preview_desc span:nth-child(2){display:block; text-indent: 2em;}
.imgartbox{float:left;box-sizing:border-box;width: 400px;height: 270px;}
.view_img{background-size:cover;margin:10px auto 5px auto;width:385px;height:260px;border-radius:15px;overflow: hidden;}
.view_img img{border-radius:15px;width:385px;-webkit-box-shadow:#666 0 0 10px;-moz-box-shadow:#666 0 0 10px;-webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease;}
.view_img img:hover{position:relative; margin-top:-2px; width:400px;z-index: +1;}