<!--{include file="../Common/header_list.html"}-->
	<div class="wrap listwarp">
		<div class="catenavi"><span class="curposi"><label>当前位置：&nbsp;</label><a href="<!--{$smarty.const.__ROOT__}-->">Home</a> <!--{section name=n start=-1 step=-1 loop=$p}-->-> <a href="<!--{$smarty.const.__ROOT__}-->/list/<!--{$p[n].id}-->.html"><!--{$p[n].title}--></a><!--{/section}--> <span></div>
		<div class="list">
			<div class="catetreebox">
				<p class="catetitle"><a href="<!--{$smarty.const.__ROOT__}-->/list/<!--{$aid.id}-->.html"><!--{$aid.title}--></a></p>
				<ul class="ctreeul">
					<!--{assign var="i" value=0}-->
					<!--{section name=n loop=$tree}-->
					<!--{$i=$i+1}-->
					<!--{if $tree[n].indent == 1}-->
					<li class="ctreelist <!--{if $tree[n].id == $p[0].id}-->currdisp<!--{/if}-->"><span class="ctreea"><span class="treeImg"><a href="javascript:void(0);" onclick="showTree(this);"><img src="<!--{$smarty.const.HOME_IMAGE_URL}-->liststyle.jpg" alt="<!--{$tree[n].title}-->"></a></span><span class="treeText"><a href="<!--{$smarty.const.__ROOT__}-->/list/<!--{$tree[n].id}-->.html" title="<!--{$tree[n].title}-->" alt="<!--{$tree[n].title}-->"><!--{$tree[n].title}--></a></span></span>
						<!--{else if $tree[n].indent == 2}-->
						<!--{if $tree[$i-2].indent == 1}-->
						<ul class="sublist"><!--{/if}-->
							<li <!--{if $tree[n].id == $p[0].id}-->class="currdisp"<!--{/if}-->><span class="ctreea"><a href="<!--{$smarty.const.__ROOT__}-->/list/<!--{$tree[n].id}-->.html"><img src="<!--{$smarty.const.HOME_IMAGE_URL}-->lisym.jpg" alt="<!--{$tree[n].title}-->"></a><a href="<!--{$smarty.const.__ROOT__}-->/list/<!--{$tree[n].id}-->.html"><!--{$tree[n].title}--></a></span></li>
						<!--{if $tree[$i].indent == 1|| $tree[$i].indent ==''}-->	
						</ul>
						<!--{/if}-->
						<!--{/if}-->
					<!--{if $tree[$i].indent == 1 || $tree[$i].indent ==''}-->
					</li>
					<!--{/if}-->
				<!--{/section}-->
				</ul>
			</div>
			<div class="listbox">
				<div class="listhead">
					<span class="artcate"><!--{$p[0].title}--></span>
				</div>
				<div>
				<!--{assign var = i value = 0}-->
				<!--{section name=n loop=$list}-->
				<!--{$i=$i+1}-->
				<div class="itartbox">
					<div class="preview_img"><a href="<!--{$smarty.const.__ROOT__}-->/article/<!--{$list[n].tid}-->.html" target="_blank"><img <!--{if $list[n].covs == 1}-->style="margin-top:-35px;"<!--{/if}-->src="<!--{$smarty.const.ATTACHED_IMG_URL}--><!--{if $list[n].cover}--><!--{$list[n].cover}-->_s.jpg<!--{else}-->nopic.jpg_s.jpg<!--{/if}-->" alt="<!--{$list[n].title}-->" title="<!--{$list[n].title}-->"/></a></div>
					<div class="preview_desc"><a href="<!--{$smarty.const.__ROOT__}-->/article/<!--{$list[n].tid}-->.html" target="_blank"><span style="display:block;"><b><!--{$list[n].title}--></b></span><span><!--{$list[n].content|strip_tags}--></span></a></div>
				</div>
				<!--{/section}-->
				<!--{if $i%3==2}-->
					<div class="itartbox" style="border:none;"></div>

				<!--{else if $i%3==1}-->
					<div class="itartbox" style="border:none;"></div>
					<div class="itartbox" style="border:none;"></div>
				<!--{/if}-->
					<!--{$show}-->
				</div>
			</div>
		</div>
	</div>
<!--{include file="../Common/footer.html"}-->