<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>文章搜索结果</title>
	<link rel="stylesheet" href="<!--{$smarty.const.ADMIN_IMAGE_URL}-->css/admin.css"/>
	<script type="text/javascript">
		function checkSelA(){

			var sel = document.getElementsByTagName('input');
			var selectall = document.getElementById('selectall');
			var len = sel.length;
			if(selectall.checked == true){
				for(var i=0;i<len;i++){
					if(sel[i].type == "checkbox" && sel[i].name == "delflag[]"){
						sel[i].checked = true;
					}
				}
			}else{
				for(var i=0;i<len;i++){
					if(sel[i].type == "checkbox" && sel[i].name == "delflag[]"){
						sel[i].checked = false;
					}
				}
			}	
		}
	</script>
</head>
<body>
	<div class="wrap">
		<h2>内容搜索结果</h2>
		<div class="listbox">
			<div class="listheader"><span><form style="display:inline;" action="<!--{$smarty.const.__MODULE__}-->/Manage/searchRes" method="GET"><label class="search"><select name="pid">
									<option disabled="disabled">
										请选择分类
									</option>
									<option value="0">
										【全部分类】
									</option>
									<option value="-1" <!--{if $parentid == -1}-->selected="selected"<!--{/if}-->>
										【单页】
									</option>
									<!--{section name=n loop=$all}-->
									<option value ="<!--{$all[n].id}-->" <!--{if $parentid == $all[n].id}-->selected="selected"<!--{/if}-->>
										<!--{if $all[n].indent > 1}-->
											<!--{" "|indent:(($all[n].indent-1)*3):"&nbsp;"}-->
											丨—<!--{$all[n].title}-->
										<!--{else}-->
											<!--{$all[n].title}-->
										<!--{/if}-->
									</option>
									<!--{/section}-->
								</select><input type="text" name="search"/><input type="submit" value="搜索"/></label></form><a href="<!--{$smarty.const.__MODULE__}-->/Manage/addArticle"><img src="<!--{$smarty.const.ADMIN_IMAGE_URL}-->addbtn.png"/></a></span></div><hr style="width: 100%;"/>
			<form name="delete" method="POST" action="<!--{$smarty.const.__MODULE__}-->/Manage/delArticle">
				<h2><!--{$notice}--></h2>
				<ul>
					<!--{section name=n loop=$list}-->
					<li><span class="delcheck"><input type="checkbox" id="sel[]" name="delflag[]" value="<!--{$list[n].tid}-->"></span><span class="articletitle"><a href="#" title="规格：<!--{$list[n].spec}-->&nbsp;作者:<!--{$list[n].author}-->&nbsp;时间:<!--{$list[n].rtime}-->"><!--{$list[n].title}--></a></span><span class="artcate">所属分类：<!--{assign var="i" value=0}--><!--{section name=i loop=$all}--><!--{if $all[i].id == $list[n].category}--><!--{$all[i].title}--><!--{else}--><!--{math equation=$i+1 assign=i}--><!--{/if}--><!--{/section}--><!--{if $i == $all|@count}--><!--{if $list[n].single == 1}-->单页<!--{else}-->无<!--{/if}--><!--{/if}--></span><span class="modbtn"><a href="#">修改</a></span></li><hr/>
					<!--{/section}-->
				</ul>
			</form>
		</div>
		<div class="bottom"><span class="selectall"><input type="checkbox" id="selectall" onclick="checkSelA();" name="selectall"><input type="submit" value="删除"></span><span class="recycle"><a href="<!--{$smarty.const.__MODULE__}-->/Manage/recycleArticle">回收站</a></span><span class="paging"><center><!--{$show}--></center></span></div>
	</div>
</body>
</html>